:root {
  --event-color-primary: #670e0d !important;
  --event-color-secondary: #f27925 !important;

  --video-width: 100vw;
  --video-height: 100vh;

  @media (min-aspect-ratio: 16/9) {
    --video-height: 56.25vw;
  }

  @media (max-aspect-ratio: 16/9) {
    --video-width: 177.78vh;
  }
}

.bg-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.bg-video__iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--video-width);
  height: var(--video-height);
  transform: translate(-50%, -50%);
}

/*  */
.col-md-4 {
  gap: 1em;
}

.testimonial-video {
  height: 650px;
  flex-grow: 1;
}

.testimonial {
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 10%, rgba(103, 14, 13, 0.09149597338935578) 90%);
  border: 3px solid var(--event-color-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 10px 10px 0px var(--event-color-primary) !important;
  transition: transform 0.4s ease-in, scale 0.15s ease-in-out, box-shadow 0.2s ease-in !important;
}

.testimonial:hover {
  scale: 0.97;
  box-shadow: 0px 10px 10px var(--event-color-primary) !important;
  transform: translateY(-0.5em);
}

.testimonial:before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-bottom: none;
}
.testimonial:before {
  border-bottom: 100px solid var(--event-color-secondary);
  border-radius: 50%;
  filter: blur(10rem);
}

.testimonial .stars i {
  transition: scale 0.05s ease-in-out, transform 0.25s ease-in;
}

.testimonial:hover .stars i {
  scale: 1.2;
  transform: translateY(-0.25em);
}

.testimonial:hover picture:before {
  scale: 1.2;
  animation: pulse 2s infinite;
}

picture {
  position: relative;
  z-index: 1;
}
picture:before {
  content: '';
  z-index: -1;
  position: absolute;
  inset: 0;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--event-color-primary);
  transition: scale 0.3s ease-in-out;
  scale: 1.05;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--event-color-primary);
  }

  70% {
    transform: scale(0.96);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* ONLY DEV */
.fa-lg {
  font-size: 1.33333333em !important;
}

.fa-1x {
  font-size: 1.5em !important;
}

.fa-2x {
  font-size: 2em !important;
}

.fa-3x {
  font-size: 3em !important;
}

.fa-4x {
  font-size: 4em !important;
}

.fa-5x {
  font-size: 5em !important;
}

.fa-6x {
  font-size: 6em !important;
}

.fa-7x {
  font-size: 7em !important;
}

.fa-8x {
  font-size: 8em !important;
}

.fa-9x {
  font-size: 9em !important;
}

.fa-10x {
  font-size: 10em !important;
}
